{
    "annotations": {
        "list": [
            {
                "$$hashKey": "object:13",
                "builtIn": 1,
                "datasource": "-- Grafana --",
                "enable": true,
                "hide": true,
                "iconColor": "rgba(0, 211, 255, 1)",
                "name": "Annotations & Alerts",
                "type": "dashboard"
            }
        ]
    },
    "date": {
        "from": "now-15m",
        "to": "now"
    },
    "editable": false,
    "gnetId": null,
    "graphTooltip": 1,
    "id": null,
    "iteration": 1587978533616,
    "links": [],
    "panels": [
        {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "prometheus",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
                "h": 7,
                "w": 12,
                "x": 0,
                "y": 0
            },
            "hiddenSeries": false,
            "id": 27,
            "legend": {
                "alignAsTable": true,
                "avg": true,
                "current": true,
                "hideEmpty": true,
                "hideZero": true,
                "max": true,
                "min": false,
                "show": false,
                "total": false,
                "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "maxPerRow": 4,
            "nullPointMode": "null",
            "options": {
                "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": true,
            "steppedLine": false,
            "targets": [
                {
                    "alias": "$tag_servicetype: $tag_mode",
                    "dsType": "influxdb",
                    "expr": "100 * netdata_apps_cpu_percentage_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "mode"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "hide": false,
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "{{instance}} {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT sum(\"value\") FROM \"[[DS]]\".\"apps_cpu\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "A",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "cpu"
                        },
                        {
                            "condition": "AND",
                            "key": "mode",
                            "operator": "=",
                            "value": "used"
                        }
                    ]
                }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "CPU Usage",
            "tooltip": {
                "shared": true,
                "sort": 2,
                "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
                "buckets": null,
                "mode": "time",
                "name": null,
                "show": true,
                "values": []
            },
            "yaxes": [
                {
                    "format": "percent",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": "0",
                    "show": true
                },
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": true
                }
            ],
            "yaxis": {
                "align": false,
                "alignLevel": null
            }
        },
        {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "prometheus",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
                "h": 7,
                "w": 12,
                "x": 12,
                "y": 0
            },
            "hiddenSeries": false,
            "id": 28,
            "legend": {
                "alignAsTable": true,
                "avg": true,
                "current": true,
                "hideEmpty": true,
                "hideZero": true,
                "max": true,
                "min": false,
                "show": false,
                "total": false,
                "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "maxPerRow": 4,
            "nullPointMode": "null",
            "options": {
                "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
                {
                    "alias": "$tag_servicetype: $tag_type",
                    "dsType": "influxdb",
                    "expr": "netdata_apps_preads_KiB_persec_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "type"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "reads - {{instance}} - {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT sum(\"value\") FROM \"[[DS]]\".\"apps_preads\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "A",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "disk"
                        },
                        {
                            "condition": "AND",
                            "key": "type",
                            "operator": "=",
                            "value": "read"
                        }
                    ]
                },
                {
                    "alias": "$tag_servicetype: $tag_type",
                    "dsType": "influxdb",
                    "expr": "-netdata_apps_pwrites_KiB_persec_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "type"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "writes - {{instance}} - {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT (sum(\"value\") * -1) FROM \"[[DS]]\".\"apps_pwrites\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "B",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "disk"
                        },
                        {
                            "condition": "AND",
                            "key": "type",
                            "operator": "=",
                            "value": "write"
                        }
                    ]
                }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Disk Throughput",
            "tooltip": {
                "shared": true,
                "sort": 2,
                "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
                "buckets": null,
                "mode": "time",
                "name": null,
                "show": true,
                "values": []
            },
            "yaxes": [
                {
                    "$$hashKey": "object:1792",
                    "format": "KBs",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": true
                },
                {
                    "$$hashKey": "object:1793",
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": true
                }
            ],
            "yaxis": {
                "align": false,
                "alignLevel": null
            }
        },
        {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "prometheus",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
                "h": 7,
                "w": 12,
                "x": 0,
                "y": 7
            },
            "hiddenSeries": false,
            "id": 30,
            "legend": {
                "alignAsTable": true,
                "avg": true,
                "current": true,
                "hideEmpty": true,
                "hideZero": true,
                "max": true,
                "min": false,
                "show": false,
                "total": false,
                "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "maxPerRow": 4,
            "nullPointMode": "null",
            "options": {
                "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
                {
                    "alias": "$tag_servicetype",
                    "dsType": "influxdb",
                    "expr": "netdata_apps_mem_MiB_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "{{instance}} {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT sum(\"value\") FROM \"[[DS]]\".\"apps_mem\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "A",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "mem"
                        }
                    ]
                }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Memory Usage",
            "tooltip": {
                "shared": true,
                "sort": 2,
                "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
                "buckets": null,
                "mode": "time",
                "name": null,
                "show": true,
                "values": []
            },
            "yaxes": [
                {
                    "format": "mbytes",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": "0",
                    "show": true
                },
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": true
                }
            ],
            "yaxis": {
                "align": false,
                "alignLevel": null
            }
        },
        {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "prometheus",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
                "h": 7,
                "w": 12,
                "x": 12,
                "y": 7
            },
            "hiddenSeries": false,
            "id": 34,
            "legend": {
                "alignAsTable": true,
                "avg": true,
                "current": true,
                "hideEmpty": true,
                "hideZero": true,
                "max": true,
                "min": false,
                "show": false,
                "total": false,
                "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "maxPerRow": 4,
            "nullPointMode": "null",
            "options": {
                "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
                {
                    "alias": "$tag_servicetype",
                    "dsType": "influxdb",
                    "expr": "netdata_apps_vmem_MiB_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "{{instance}} {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT sum(\"value\") FROM \"[[DS]]\".\"apps_mem\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "A",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "mem"
                        }
                    ]
                }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Virtual Memory Usage",
            "tooltip": {
                "shared": true,
                "sort": 2,
                "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
                "buckets": null,
                "mode": "time",
                "name": null,
                "show": true,
                "values": []
            },
            "yaxes": [
                {
                    "$$hashKey": "object:1941",
                    "format": "mbytes",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": "0",
                    "show": true
                },
                {
                    "$$hashKey": "object:1942",
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": true
                }
            ],
            "yaxis": {
                "align": false,
                "alignLevel": null
            }
        },
        {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "prometheus",
            "decimals": null,
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
                "h": 7,
                "w": 12,
                "x": 0,
                "y": 14
            },
            "hiddenSeries": false,
            "id": 31,
            "legend": {
                "alignAsTable": true,
                "avg": true,
                "current": true,
                "hideEmpty": true,
                "hideZero": true,
                "max": true,
                "min": false,
                "show": false,
                "total": false,
                "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "maxPerRow": 4,
            "nullPointMode": "null",
            "options": {
                "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
                {
                    "alias": "$tag_servicetype",
                    "dsType": "influxdb",
                    "expr": "netdata_apps_processes_processes_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "{{instance}} {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT sum(\"value\") FROM \"[[DS]]\".\"apps_processes\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "A",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "processes"
                        }
                    ]
                }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Processes",
            "tooltip": {
                "shared": true,
                "sort": 2,
                "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
                "buckets": null,
                "mode": "time",
                "name": null,
                "show": true,
                "values": []
            },
            "yaxes": [
                {
                    "decimals": 0,
                    "format": "none",
                    "label": "",
                    "logBase": 1,
                    "max": null,
                    "min": "0",
                    "show": true
                },
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": false
                }
            ],
            "yaxis": {
                "align": false,
                "alignLevel": null
            }
        },
        {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "prometheus",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
                "h": 7,
                "w": 12,
                "x": 12,
                "y": 14
            },
            "hiddenSeries": false,
            "id": 32,
            "legend": {
                "alignAsTable": true,
                "avg": true,
                "current": true,
                "hideEmpty": true,
                "hideZero": true,
                "max": true,
                "min": false,
                "show": false,
                "total": false,
                "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "maxPerRow": 4,
            "nullPointMode": "null",
            "options": {
                "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
                {
                    "alias": "$tag_servicetype",
                    "dsType": "influxdb",
                    "expr": "netdata_apps_threads_threads_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "{{instance}} {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT sum(\"value\") FROM \"[[DS]]\".\"apps_threads\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "A",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "threads"
                        }
                    ]
                }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Threads",
            "tooltip": {
                "shared": true,
                "sort": 2,
                "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
                "buckets": null,
                "mode": "time",
                "name": null,
                "show": true,
                "values": []
            },
            "yaxes": [
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": "0",
                    "show": true
                },
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": true
                }
            ],
            "yaxis": {
                "align": false,
                "alignLevel": null
            }
        },
        {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "prometheus",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
                "h": 7,
                "w": 12,
                "x": 0,
                "y": 21
            },
            "hiddenSeries": false,
            "id": 29,
            "legend": {
                "alignAsTable": true,
                "avg": true,
                "current": true,
                "hideEmpty": true,
                "hideZero": true,
                "max": true,
                "min": false,
                "show": false,
                "total": false,
                "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "maxPerRow": 4,
            "nullPointMode": "null",
            "options": {
                "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
                {
                    "alias": "$tag_servicetype",
                    "dsType": "influxdb",
                    "expr": "netdata_apps_files_open_files_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "{{instance}} {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT sum(\"value\") FROM \"[[DS]]\".\"apps_files\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "A",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "files"
                        }
                    ]
                }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Open Files",
            "tooltip": {
                "shared": true,
                "sort": 2,
                "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
                "buckets": null,
                "mode": "time",
                "name": null,
                "show": true,
                "values": []
            },
            "yaxes": [
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": "0",
                    "show": true
                },
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": true
                }
            ],
            "yaxis": {
                "align": false,
                "alignLevel": null
            }
        },
        {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "prometheus",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
                "h": 7,
                "w": 12,
                "x": 12,
                "y": 21
            },
            "hiddenSeries": false,
            "id": 33,
            "legend": {
                "alignAsTable": true,
                "avg": true,
                "current": true,
                "hideEmpty": true,
                "hideZero": true,
                "max": true,
                "min": false,
                "show": false,
                "total": false,
                "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "maxPerRow": 4,
            "nullPointMode": "null",
            "options": {
                "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
                {
                    "alias": "$tag_servicetype",
                    "dsType": "influxdb",
                    "expr": "netdata_apps_sockets_open_sockets_average{instance=~\"[[host]]\", dimension=~\"[[service]]\"}",
                    "format": "time_series",
                    "groupBy": [
                        {
                            "params": [
                                "$__interval"
                            ],
                            "type": "time"
                        },
                        {
                            "params": [
                                "servicetype"
                            ],
                            "type": "tag"
                        },
                        {
                            "params": [
                                "null"
                            ],
                            "type": "fill"
                        }
                    ],
                    "interval": "",
                    "intervalFactor": 1,
                    "legendFormat": "{{instance}} {{dimension}}",
                    "measurement": "openio",
                    "orderByTime": "ASC",
                    "policy": "default",
                    "query": "SELECT sum(\"value\") FROM \"[[DS]]\".\"apps_sockets\" WHERE \"app\" = 'openio' AND $timeFilter GROUP BY time([[ds_int]]), \"servicetype\" fill(null)",
                    "rawQuery": true,
                    "refId": "A",
                    "resultFormat": "time_series",
                    "select": [
                        [
                            {
                                "params": [
                                    "value"
                                ],
                                "type": "field"
                            },
                            {
                                "params": [],
                                "type": "sum"
                            }
                        ]
                    ],
                    "tags": [
                        {
                            "key": "resource",
                            "operator": "=",
                            "value": "sockets"
                        }
                    ]
                }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Opened Sockets",
            "tooltip": {
                "shared": true,
                "sort": 2,
                "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
                "buckets": null,
                "mode": "time",
                "name": null,
                "show": true,
                "values": []
            },
            "yaxes": [
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": "0",
                    "show": true
                },
                {
                    "format": "short",
                    "label": null,
                    "logBase": 1,
                    "max": null,
                    "min": null,
                    "show": true
                }
            ],
            "yaxis": {
                "align": false,
                "alignLevel": null
            }
        }
    ],
    "refresh": "10s",
    "schemaVersion": 22,
    "style": "dark",
    "tags": [],
    "templating": {
        "list": [
            {
                "allValue": null,
                "current": {},
                "datasource": "prometheus",
                "definition": "label_values(up, host)",
                "hide": 0,
                "includeAll": true,
                "index": -1,
                "label": "Host",
                "multi": true,
                "name": "host",
                "options": [],
                "query": "label_values(up, host)",
                "refresh": 2,
                "regex": "/.*/",
                "skipUrlSync": false,
                "sort": 2,
                "tagValuesQuery": "",
                "tags": [],
                "tagsQuery": "",
                "type": "query",
                "useTags": false
            },
            {
                "allValue": null,
                "current": {},
                "datasource": "prometheus",
                "definition": "label_values(netdata_apps_cpu_system_percentage_average, dimension)",
                "hide": 0,
                "includeAll": true,
                "index": -1,
                "label": "Service",
                "multi": false,
                "name": "service",
                "options": [],
                "query": "label_values(netdata_apps_cpu_system_percentage_average, dimension)",
                "refresh": 2,
                "regex": "",
                "skipUrlSync": false,
                "sort": 0,
                "tagValuesQuery": "",
                "tags": [],
                "tagsQuery": "",
                "type": "query",
                "useTags": false
            }
        ]
    },
    "time": {
        "from": "now-15m",
        "to": "now"
    },
    "timepicker": {
        "hidden": false,
        "refresh_intervals": [
            "10s",
            "30s",
            "1m",
            "5m",
            "15m",
            "30m",
            "1h"
        ],
        "time_options": [
            "5m",
            "15m",
            "1h",
            "6h",
            "12h",
            "24h",
            "2d",
            "7d",
            "30d"
        ]
    },
    "timezone": "browser",
    "title": "OpenIO System",
    "uid": "openio-system",
    "variables": {
        "list": []
    },
    "version": null
}
