apiVersion: 1

providers:
- name: 'openio'
  orgId: 1
  folder: 'openio'
  folderUid: 'openio'
  type: file
  disableDeletion: false
  editable: true
  allowUiUpdates: true
  updateIntervalSeconds: 5
  options:
    path: {{ openio_grafana_path_provisioning }}/dashboards/openio
