---
{% if openio_loki | d(false) %}
{%   if openio_grafana_loki_group | length > 0 and openio_grafana_loki_group in groups %}
{%     set host = groups[openio_grafana_loki_group] | first %}
{%     if host %}
{%       set port = hostvars[host].openio_loki_bind_port | d(openio_grafana_loki_bind_port) %}
{%       set address = hostvars[host].openio_loki_bind_address | d(hostvars[host].openio_bind_mgmt_address) | d(hostvars[host].openio_bind_address) | d(hostvars[host].ansible_default_ipv4.address) %}
apiVersion: 1

datasources:
- name: loki
  type: loki
  access: proxy
  orgId: 1
  url: http://{{ address }}:{{ port }}
  isDefault: false
  version: 1
  editable: false
{%     endif %}
{%   endif %}
{% endif %}
...
