---
{% if openio_grafana_prometheus_group | length > 0 and openio_grafana_prometheus_group in groups %}
{%   set host = groups[openio_grafana_prometheus_group] | first %}
{%   if host %}
{%     set port = hostvars[host].openio_prometheus_bind_port | d(openio_grafana_prometheus_bind_port) %}
{%     set address = hostvars[host].openio_prometheus_bind_address | d(hostvars[host].openio_bind_mgmt_address) | d(hostvars[host].openio_bind_address) | d(hostvars[host].ansible_default_ipv4.address) %}
apiVersion: 1

datasources:
- name: prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://{{ address }}:{{ port }}
  isDefault: true
  version: 1
  editable: false
{%   endif %}
{% endif %}
...
