CONF_FILE={{ openio_grafana_paths['conf'] }}/grafana.ini
PID_FILE_DIR=/var/run/
LOG_DIR={{ openio_grafana_paths['log'] }}
DATA_DIR={{ openio_grafana_paths['data'] }}
PLUGINS_DIR={{ openio_grafana_paths['plugins'] }}
PROVISIONING_CFG_DIR={{ openio_grafana_paths['provisioning'] }}
