apiVersion: 1

datasources:
- name: local
  type: influxdb
  access: proxy
  orgId: 1
  url: http://{{ influxdb_http['host'] }}:{{ influxdb_http['port'] }}
  user: {{ influxdb_auth['user'] }}
  password: {{ influxdb_auth['password'] }}
  database: graphite
  isDefault: true
  jsonData:
  version: 1
  editable: false
