apiVersion: 1

datasources:
- name: prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://{{ openio_grafana_prometheus_host }}:{{ openio_grafana_prometheus_port }}
  isDefault: true
  jsonData:
  version: 1
  editable: false
